{% extends 'base.html' %} {% block page_title %}Xác minh{% endblock %}{% block content %}


<!--Verification information card-->
<section class="profile-card-container">
    <div class="card-container card-margin-top">
        <div class="card-form card">
            <div class="card-form-container">
                <h3>Xác minh</h3>
                <hr>
                <p>Để đảm bảo cộng đồng hẹn hò của chúng tôi an toàn và vui vẻ cho tất cả mọi người, mọi hồ sơ đều được nhóm xác minh của chúng tôi xác minh thủ công.
                    <br><br> Vui lòng kiên nhẫn với chúng tôi trong khi chúng tôi chấp thuận hồ sơ của bạn. Trong thời gian này, bạn vẫn có thể sử dụng trang web, tuy nhiên một số tính năng có thể bị hạn chế.
                    <br><br> Thời gian phê duyệt trung bình là 20 phút<br><br></p>

                <a class="btn standard-button" href="{% url 'index' %}">BẮT ĐẦU HẸN HÒ</a>


            </div>

        </div>
    </div>
</section>

{% endblock %}
