{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Đăng ký - LoveConnect{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-primary text-white text-center">
                <h4><i class="fas fa-user-plus"></i> Đăng ký tài khoản</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.username|as_crispy_field }}
                            {{ form.email|as_crispy_field }}
                            {{ form.gender|as_crispy_field }}
                            {{ form.birth_date|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.password1|as_crispy_field }}
                            {{ form.password2|as_crispy_field }}
                            {{ form.location|as_crispy_field }}
                        </div>
                    </div>

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-user-plus"></i> Đăng ký
                        </button>
                    </div>
                </form>
                <hr>
                <div class="text-center">
                    <p>Đã có tài khoản? <a href="{% url 'login' %}">Đăng nhập</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}